@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <h2>Kayıt Ol</h2>
    <div class="col-md-8">
        <div class="mb-3">
            <label for="username" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Kullanıcı adınızı girin" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-posta Adresi</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="E-posta adresinizi girin" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Şifrenizi girin" required>
        </div>
        <button type="submit" class="btn btn-primary" onclick="register();">Kayıt Ol</button>
    </div>
</div>


<script>

    window.onload = function () {
        var userId = localStorage.getItem('userId');
        var token = localStorage.getItem('token');

        if (userId != null || token != null) {
            window.location.href = "/user/profile";
            return;
        }
    };

    function register() {
        let model = {
            Email: $("#email").val(),
            UserName: $("#username").val(),
            Password: $("#password").val(),
        };

        axios.post('/api/User/register', model)
            .then(function (response) {
                console.log(response);
                if (!response.data.isError) {
                    Toastify({
                        text: response.data.message,
                        duration: 3000,
                        newWindow: true,
                        close: true,
                        gravity: "top",
                        position: "right",
                        stopOnFocus: true,
                        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                    }).showToast();

                    $("#email").val("");
                    $("#username").val("");
                    $("#password").val("");
                }
                else {
                    Toastify({
                        text: response.data.message,
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "linear-gradient(to right, #ff4b1f, #ff9068)",
                        stopOnFocus: true
                    }).showToast();
                }
            })
            .catch(function (error) {
                console.error('Axios error:', error);
            });
    }
</script>

